.top{
    height: 600px;
    background-image: url(images/help2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.top-heading{
    color: white;
    margin: 0;
    font-size: 60px;
    text-align: center;
    
}
.top-heading-div{
    padding-top: 140px;
}
.top-paragraph{
    color: white;
    text-align: center;
}
.top-link{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid tomato;
    border-radius: 5px;
    background-image: linear-gradient(red,tomato);
    font-weight: bolder;
}
.top-link-div{
    padding-left: 600px;
}
.middle-heading{
    color:black;
    margin: 0;
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
}
.middle-paragraph{
    color:black;
    text-align: center;
}
.middle-heading-div{
    padding-top: 140px;
}
.middle-money-div{
    display: flex;
    justify-content: space-around;
    padding: 0 200px;
}
.money-special{
    border: 2px solid red;
    padding: 3px 6px;
    border-radius: 6px;
}
.input{
    border: none;
    border-bottom: 2px solid rgb(201, 190, 190);
    text-align: center;
    width: 700px;
}
.middle-inpur{
    display: block;
    padding-left: 650px;
    margin-bottom: 50px;
}
.middle-input{
    padding: 0 400px;
}
.donation-plans{
    display: flex;
    justify-content: space-evenly;
    
}
.donation-part{
    padding: 80px 20px;
    border: 2px solid wheat;
    margin: 15px 22px;
}
.donation-part p{
    text-align: justify;
}
.food{
    background-color: rgb(178, 243, 221);
}
.shelter{
    background-color: rgb(236, 245, 187);
}
.education{
    background-color: rgb(245, 187, 206);
}
.about-us{
    background-color: rgb(199, 241, 227);
    display: flex;
    border: 5px solid rgb(250, 249, 247);
    border-radius: 5px;
}
.half{
    height: 50%;
    width: 50%;
    margin-left: 70px;
}
.half img{
    height: 300px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    padding-left: 80px;
}
.about{
    color: rgb(66, 63, 63);
    text-align: center;
}
.last-half{
    display: flex;
    background-color: rgba(238, 209, 197, 0.685);
    margin: 150px;
    padding: 100px;
    padding-left: 400px;
}
.last-input{
    border: 0px solid rgb(255, 252, 252);
    background-color: rgb(202, 200, 200);
}
.sub{
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border: 2px solid tomato;
    border-radius: 0px;
    background-image: linear-gradient(red,tomato);
    font-weight: bolder;
}
.end{
    background-color: black;
    text-align: center;
    height: 15vh;
    width: 100%;
}
.end-head{
    color: tomato;
    font-family: 'Satisfy', cursive;
}
.end-p{
    color: aliceblue;
}